body {
  background-color: #eee;
  margin: auto;
  text-align:center;
  margin-top: 15vh;
  width: 32vw;
}

.btn{
	height: 4vh;
	width: 8vw;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 2vh;
	
}

#p{
	background-color: lightblue;
	margin-top: 2vh;
	border: 1px solid;
	border-radius: 5px;
}

#box{
	
	text-align: center; 
	border: 1px solid; 
	border-radius: 5px; 
	width: 32vw; 
	margin: auto;
}
